{% extends 'bootstrap/base.html' %}

{% block title %} Course Data Information{% endblock %}


{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Student #</th>
      <th scope="col">Day of week</th>
    </tr>
  </thead>

{% for value in coursedb %}
<tbody>
	<tr>
		<td> {{ value.course_id }} </td>
		<td> {{ value.course }} </td>
		<td> {{ value.student_id }} </td>
		<td> {{ value.day_of_week }} </td>
	</tr>
</tbody>
{% endfor %}


</table>
{% endblock %}
