{% extends 'bootstrap/base.html' %}
<title> {% block 'pagename' %} Welcome to LFL {% endblock %} </title>

{% block content %}
    <h1>LFL - Learn for Life</h1>
    <p class="lead">
    	For student details go to the student Data.</br>
    	For course details go to the course Data.</br>
    	To register go to Student Form.</br>
    	To register to a course go to Course Form.</br>
    </p>
{% endblock %}