{% extends 'bootstrap/base.html' %}
{% block title %} Student Data Information{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"> id# </th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Email</th>
    </tr>
  </thead>



{% for value in studentdb %}
<tbody>
	<tr>
		<td> {{value.id }} </td>
		<td> {{ value.name }} </td>
		<td> {{ value.location }} </td>
		<td> {{ value.email| default:"admin@lfl.org" }} </td>
	</tr>
</tbody>
{% endfor %}
</table>

{% endblock %}
