{% extends 'bootstrap/base.html' %}
{% block title %} Student Form{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

	<form role='form' action="" method="post">
		 {% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary"> submit </button>
	</form>

{% endblock %}
