{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{% url 'home_page' %}">LFL - Learning for Life</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_page' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'studentdata' %}">Student Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'coursedata' %}">Course Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'studentForm'  %}">Student Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courseForm' %}">Course Form</a>
      </li>

    </ul>
  </div>
</nav>